# EditorConfig: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# ruby
[*.rb]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# keep source format
[data/prototypes.json]
indent_style = space
indent_size = 4
